$primary-color: #00c1a2;
$primary-dark: #019d91 ;
$primary-shadow: #0fccce66;

$secondary-color:  #8795a1;
$secondary-soft: #b8c2cc;
$secondary-medium: #606f7b;
$secondary-dark:  #3d4852;

$clear-gray: #f3f3f3;
$soft-gray: #fafafa;
$light-gray: #f5f8fa;
$gray: #8c8c8c;
$gray-strong: #666;

$white-shadow: #dae1e7;

$text-strong:#3d4852;


$black: #22292f;
$white: #fff;
$dark: #000;

$leaf: #00ddb3;
$bluey: #3aa0ff;
$pink: #ff8eec;
$yellow: #ffbf00;
$color-bg-text: #4c5863


// negro: #22292f
// primary verde:  #00c1a2
// pimary verde hover #019d91
// primary verde shadow #0fccce66
// texto negro verde gris : #8795a1
// texto oscuro #3d4852
// item sombreado en fondo blacno(#fff) #f5f8fa
// header #fafafa
// body  #fafafa