.c-button {
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    transition: all 0.3s;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;

    &--primary {
        background: $primary-color;
        color: $white;

        &:hover,
        &:active,
        &:focus {
            color: $white;
            background: $primary-dark;
            box-shadow: 0 5px 20px -5px $primary-shadow;
        }
    }
}

@media(min-width: 576px) {
    .c-button {
        border-radius: 1rem;
    }
}