.c-section {
    &--home {
        .c-hero {
            padding: 3rem 1.25rem;
            background: $soft-gray;
            overflow: hidden;

            &__content {
                flex-grow: 1;
                flex-basis:0;

                .c-button {
                    padding: 1rem 2rem;
                    font-size: 1.125rem;
                }
            }

            &__title {
                font-size: 2.875rem;
                font-family: 'averta-b';
                margin-bottom: 1rem;

                span {
                    font-family: 'averta-b'; 
                }

                &-animation {
                    font-family: 'averta-b';
                    max-width: 380px;
                    margin: 0 auto;

                    span {
                        color: $primary-color;

                    }
                }
            }

            &__text {
                color: $secondary-color;
                font-size: 1rem;
                margin-bottom: 2rem;
                max-width: 50rem;
            }

            &__ilustration {
                width: 300px;
                max-width: 100%;
                margin: 0 auto;
                overflow: hidden;

                figure {
                    transform: scale(1.3);
                }
            }
        }
        .c-companies {
            background: $soft-gray;
            padding: 0 1rem 2.5rem;

            p {
                color: $secondary-medium;
                width: 66%;
                margin: 0 auto;
            }

            &__list {
                li div img {
                    margin: 0.25rem 0.75rem;
                    opacity: 0.25;
                    height: 22px;
                }
            }
        }

        .c-features {
            background: $soft-gray;
            padding: 2rem 1.25rem;

            &__title {
                font-size: 2.25rem;
                font-family: 'averta-b';
                margin-bottom: 2.25rem;
            }

            &__resume {
                color: $secondary-color;
                font-size: 1.125rem;
                margin-bottom: 1.125rem;
                // font-family: 'averta-sb';
            }

            &__list {
                max-width: 560px;
                margin: 0 auto;
            }

            &__item {
                h3 {
                    font-size: 2.875rem;
                    color: $primary-color;
                    font-family: 'averta-b';
                    padding: 0 1rem;

                    span {
                        font-size: 1.875rem;
                        font-family: 'averta-b';
                    }

                    p {
                        color: $secondary-color;
                        font-size: 1.125rem;
                        font-family: 'averta-sb';
                    }
                }
            }

            .c-link {
                font-size: 1.25rem;
                font-weight: 700;
                margin-bottom: 2.5rem;

                svg {
                    font-size: 1.5rem;
                }
            }

            .c-comparisons {
                gap: 1rem;
                margin-bottom: 2.5rem;

                &__item {
                    figure {
                        width: 167px;
                        height: 167px;
                        border: 1px solid $white-shadow;
                        border-radius: 1rem;
                        margin-bottom: 0.75rem;
                        overflow: hidden;
    
                        img {
                            object-position: center;
                        }
                    }

                    figcaption {
                        font-size: 0.75rem;
                        color: $secondary-soft;

                        p {
                            margin: 0;
                        }
                        
                        .c-comparisons {
                            &__item-name {
                                color: $secondary-color;
                            }
        
                            &__item-extra {
                                margin-top: 0.2rem;
                            }
                        }
                    }

                    &.active {
                        figure {
                            border-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .c-section {
        &--home {
            .c-hero {
                padding: 5.5rem 1rem;

                &__content {
                    .c-button {
                        padding: 1.125rem 4rem;
                    }
                }

                &__title{
                    font-size: 64px;
                }

                &__text {
                    font-size: 1.25rem;
                }

                &__ilustration {
                    width: 540px;
                }
            }

            .c-companies {
                padding: 0 0 4rem;

                &__list {
                    li div img {
                        height: 32px;
                        margin: 0.75rem 1rem;
                    }
                }
            }

            .c-features {
                padding: 4rem 1rem;

                &__title{
                    font-size: 3rem;
                }

                .c-comparisons {
                    &__item {
                        figure {
                            border-width: 2px;
                        }

                        figcaption {
                            font-size: 0.875rem;

                            .c-comparisons {
                                &__item-name {
                                    font-size: 1.125rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .c-section {
        &--home {
            .c-hero {
                &__title {
                    &-animation {
                        margin-left: 0;
                    }
                }

                &__ilustration {
                    padding-left: 2rem;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .c-section {
        &--home {
            .c-features {
                .c-comparisons {
                    margin-bottom: 0;
                }

                &__item {
                    h3 {
                        font-size: 4rem;
                    }
                }
            }
        }
    }

}


@media (min-width: 1200px) {
    .c-section {
        &--home {
            .c-hero {
                &__title {
                    &-animation {
                        max-width: 100%;
                    }
                }

                &__text {
                    font-size: 1.25rem;
                }
            }

            .c-features {
                &__item {
                    h3 {
                        font-size: 6rem;

                        span {
                            font-size: 4rem;
                        }
                    }
                }
            }
        }
    }
}