.c-section {
    &--home {
        .c-hero {
            padding: 3rem 1.25rem;
            background: $soft-gray;
            overflow: hidden;

            &__content {
                flex-grow: 1;
                flex-basis:0;

                .c-button {
                    padding: 1rem 2rem;
                    font-size: 1.125rem;
                }
            }

            &__title {
                font-size: 2.875rem;
                font-family: 'averta-b';
                margin-bottom: 1rem;
                color: $text-strong;

                span {
                    font-family: 'averta-b'; 
                }

                &-animation {
                    font-family: 'averta-b';
                    max-width: 380px;
                    margin: 0 auto;

                    span {
                        color: $primary-color;

                    }
                }
            }

            &__text {
                color: $secondary-color;
                font-size: 1rem;
                margin-bottom: 2rem;
                max-width: 50rem;
            }

            &__ilustration {
                width: 300px;
                max-width: 100%;
                margin: 0 auto;
                overflow: hidden;

                figure {
                    transform: scale(1.3);
                }
            }
        }
        .c-companies {
            background: $soft-gray;
            padding: 0 1rem 2.5rem;

            p {
                color: $secondary-medium;
                width: 66%;
                margin: 0 auto;
            }

            &__list {
                li div img {
                    margin: 0.25rem 0.75rem;
                    opacity: 0.25;
                    height: 22px;
                }
            }
        }

        .c-features {
            background: $soft-gray;
            padding: 2rem 1.25rem;

            &__title {
                font-size: 2.25rem;
                font-family: 'averta-b';
                margin-bottom: 2.25rem;
                color: $text-strong;
            }

            &__resume {
                color: $secondary-color;
                font-size: 1.125rem;
                margin-bottom: 1.125rem;
                // font-family: 'averta-sb';
            }

            &__list {
                max-width: 560px;
                margin: 0 auto;
            }

            &__item {
                h3 {
                    font-size: 2.875rem;
                    color: $primary-color;
                    font-family: 'averta-b';
                    padding: 0 1rem;

                    span {
                        font-size: 1.875rem;
                        font-family: 'averta-b';
                    }

                    p {
                        color: $secondary-color;
                        font-size: 1.125rem;
                        font-family: 'averta-sb';
                    }
                }
            }

            .c-link {
                font-size: 1.25rem;
                font-weight: 700;
                margin-bottom: 2.5rem;

                svg {
                    font-size: 1.5rem;
                }
            }

            .c-comparisons {
                gap: 1rem;
                margin-bottom: 2.5rem;

                &__item {
                    figure {
                        width: 167px;
                        height: 167px;
                        border: 1px solid $white-shadow;
                        border-radius: 1rem;
                        margin-bottom: 0.75rem;
                        overflow: hidden;
    
                        img {
                            object-position: center;
                        }
                    }

                    figcaption {
                        font-size: 0.75rem;
                        color: $secondary-soft;

                        p {
                            margin: 0;
                        }
                        
                        .c-comparisons {
                            &__item-name {
                                color: $secondary-color;
                            }
        
                            &__item-extra {
                                margin-top: 0.2rem;
                            }
                        }
                    }

                    &.active {
                        figure {
                            border-color: $primary-color;
                        }
                    }
                }
            }
        }

        .c-creations {
            padding: 2rem 1.25rem;
            background: $soft-gray;

            &__title {
                font-size: 2.25rem;
                font-family: 'averta-b';
                margin-bottom: 2.25rem;
                color: $text-strong;
            }

            &__resume {
                color: $secondary-color;
                font-size: 1.125rem;
                max-width: 40rem;
                margin: 0 auto 3rem;
            }

            &__slide {
                overflow: hidden;
                overflow-x: scroll;
                padding: 1.25rem;
                scroll-behavior: smooth;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &__grid {
                width: 100%;
                gap: 1rem;
            }

            &__item {
                flex-shrink: 0;
                width: 232px;
                background: $white;
                border-radius: 0.5rem;
                overflow: hidden;
                position: relative;
                box-shadow: 0 5px 20px -5px rgba($dark,0.07);

                img {
                    width: 100%;
                }

                .c-pin {
                    background: $secondary-soft;
                    inset: 0.5rem auto auto 0.5rem;
                    padding: 0.20rem 0.5rem;
                    font-size: 0.75rem;
                    color: $white;
                    font-family: 'averta-b';
                    border-radius: 0.125rem;
                }
            }

            &__bottom {
                padding-top: 20px;
                font-size: 1rem;

                p {
                    max-width: 40rem;
                    margin: 0 auto;
                    color: $secondary-color;
                    margin-bottom: 2.5rem;
                }

                .c-button {
                    padding: 1.125rem 4rem;
                    font-size: 1.125rem;

                    svg {
                        font-family: 'averta-b';
                    }
                }
            }
        }

        .c-benefits {
            background: $soft-gray;
            padding: 4rem 1.25rem;

            &__title {
                font-size: 2.25rem;
                margin-bottom: 1rem;
                font-family: 'averta-b';
                color: $text-strong;
            }

            &__resume {
                font-size: 1.25rem;
                color: $secondary-color;
                margin-bottom: 2.5rem;
            }

            
            .c-tab {
                &__shadow {
                    margin-right: -1rem;

                    &::after {
                        content: "";
                        background: linear-gradient(90deg,transparent,#f6f8f9);
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 20%;
                        z-index: 100;
                    }
                }

                &__scroll {
                    overflow: hidden;
                    overflow-x: scroll;
                    position: relative;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                &__head {
                    margin-bottom: 0.5rem;

                    &-item {
                        font-size: 1.25rem;
                        color: $gray-strong;
                        margin-right: 2rem;
                        padding: 0 0 1rem;
                        white-space: nowrap;
                        position: relative;

                        &:last-child {
                            padding-right: 3rem;

                            &:after {
                                width: calc(100% - 3rem);
                            }
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1rem;
                            background: transparent url('./../images/selected_tab.svg') no-repeat top / contain;
                            opacity: 0;
                        }

                        &.active {
                            label {
                                font-family: 'averta-b';
                            }

                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }

                &__body {
                    .c-tab-item {
                        padding: 1.25rem 0;

                        &__content {
                            padding-left: 1.25rem;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                width: 2px;
                                background: rgba($dark,0.25);
                            }
                        }
                        &__title {
                            font-size: 1rem;
                            color: $text-strong;
                            font-family: 'averta-b';
                        }

                        &__resume {
                            font-size: 0.875rem;
                            color: $secondary-color;
                        }

                        &__figure {
                            overflow: hidden;
                            max-height: 0;
                        }

                        &.active {
                            .c-tab-item {
                                &__figure {
                                    max-height: 1000px;
                                }
                            }
                        }
                    }
                }
            }

            &__marketing {
                font-size: 0.875rem;

                p {
                    margin-bottom: 1.125rem;
                }

                figure {
                    height: 30px;
                    width: 30px;
                }

                a {
                    font-size: 0.875rem;
                    font-family: 'averta-b';
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .c-section {
        &--home {
            .c-hero {
                padding: 5.5rem 1rem;

                &__content {
                    .c-button {
                        padding: 1.125rem 4rem;
                    }
                }

                &__title{
                    font-size: 64px;
                }

                &__text {
                    font-size: 1.25rem;
                }

                &__ilustration {
                    width: 540px;
                }
            }

            .c-companies {
                padding: 0 0 4rem;

                &__list {
                    li div img {
                        height: 32px;
                        margin: 0.75rem 1rem;
                    }
                }
            }

            .c-features {
                padding: 4rem 1rem;

                &__title{
                    font-size: 3rem;
                }

                &__resume {
                    font-size: 1.25rem;
                }

                .c-comparisons {
                    &__item {
                        figure {
                            border-width: 2px;
                        }

                        figcaption {
                            font-size: 0.875rem;

                            .c-comparisons {
                                &__item-name {
                                    font-size: 1.125rem;
                                }
                            }
                        }
                    }
                }
            }

            .c-creations {
                padding: 4rem 1rem  1rem;

                &__title {
                    font-size: 2.875rem;
                }

                &__resume {
                    font-size: 1.25rem;
                } 

                &__bottom {
                    padding-top: 50px;
                }
            }

            .c-benefits {
                &__title {
                    font-size: 2.875rem;
                }
            }


        }
    }
}

@media (min-width: 768px) {
    .c-section {
        &--home {
            .c-hero {
                &__title {
                    &-animation {
                        margin-left: 0;
                    }
                }

                &__ilustration {
                    padding-left: 2rem;
                }
            }

            .c-benefits {
                &__resume{
                    max-width: 75%;
                    margin: 0 auto 2.25rem;
                }
                .c-tab {
                    &__head {
                        justify-content: center;

                        &-item {
                            font-size: 1.5rem;

                            &:last-child {
                                margin-right: 0;
                                padding-right: 0;

                                &::after {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    &__body {
                        .c-tab-item {
                            padding: 0;
                            margin-bottom: 3rem;

                            &__title {
                                font-size: 1.25rem;
                            }

                            &__resume {
                                font-size: 1rem;
                            }
                        }
                    }

                    &__shadow {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .c-section {
        &--home {
            .c-features {
                .c-comparisons {
                    margin-bottom: 0;
                }

                &__item {
                    h3 {
                        font-size: 4rem;
                    }
                }
            }

            .c-creations {
                &__grid {
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    // grid-auto-rows: 245px;
                    height: 480px;
                    gap: 10px;
                }

                &__item {
                    width: auto;
                    height: 100%;

                    img {
                        height: 100%;
                        object-fit: contain;
                    }

                    &:nth-child(1) {
                        grid-row: 1 / 3;
                        grid-column: 2 / 5;
                    }

                    &:nth-child(2) {
                        grid-row: 1 / 2;
                        grid-column: 1 / 2;
                    }

                    &:nth-child(3) {
                        grid-row: 1 / 2;
                        grid-column: 5 / 6;
                    }
                }
            }
        }
    }

}


@media (min-width: 1200px) {
    .c-section {
        &--home {
            .c-hero {
                &__title {
                    &-animation {
                        max-width: 100%;
                    }
                }

                &__text {
                    font-size: 1.25rem;
                }
            }

            .c-features {
                &__item {
                    h3 {
                        font-size: 6rem;

                        span {
                            font-size: 4rem;
                        }
                    }
                }
            }
        }
    }
}