.c-section {
    &--home {
        .c-hero {
            padding: 3rem 1.25rem;
            background: $soft-gray;
            overflow: hidden;

            &__content {
                flex-grow: 1;
                flex-basis:0;

                .c-button {
                    padding: 1rem 2rem;
                    font-size: 1.125rem;
                }
            }

            &__title {
                font-size: 2.875rem;
                font-family: 'averta-b';
                margin-bottom: 1rem;

                span {
                    font-family: 'averta-b'; 
                }

                &-animation {
                    font-family: 'averta-b';
                    max-width: 380px;
                    margin: 0 auto;

                    span {
                        color: $primary-color;

                    }
                }
            }

            &__text {
                color: $secondary-color;
                font-size: 1rem;
                margin-bottom: 2rem;
                max-width: 50rem;
            }

            &__ilustration {
                width: 300px;
                max-width: 100%;
                margin: 0 auto;
                overflow: hidden;

                figure {
                    transform: scale(1.3);
                }
            }
        }
        .c-companies {
            background: $soft-gray;
            padding: 0 1rem 2.5rem;

            p {
                color: $secondary-medium;
                width: 66%;
                margin: 0 auto;
            }

            &__list {
                li div img {
                    margin: 0.25rem 0.75rem;
                    opacity: 0.25;
                    height: 22px;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .c-section {
        &--home {
            .c-hero {
                padding: 5.5rem 0;

                &__content {
                    .c-button {
                        padding: 1.125rem 4rem;
                    }
                }

                &__title{
                    font-size: 64px;
                }

                &__text {
                    font-size: 1.25rem;
                }

                &__ilustration {
                    width: 540px;
                }
            }

            .c-companies {
                padding: 0 0 4rem;

                &__list {
                    li div img {
                        height: 32px;
                        margin: 0.75rem 1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .c-section {
        &--home {
            .c-hero {
                &__title {
                    &-animation {
                        margin-left: 0;
                    }
                }

                &__ilustration {
                    padding-left: 2rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .c-section {
        &--home {
            .c-hero {
                &__title {
                    &-animation {
                        max-width: 100%;
                    }
                }

                &__text {
                    font-size: 1.25rem;
                }
            }
        }
    }
}